body {
	  background: rgba(255, 102, 0, 0.7);
}

h1 {
	font-size: 5vw;
	font-family: Papyrus;
	text-align: center;
}

p {
	color: black;
	font-family: Papyrus;
	background-color: lightgrey;
	text-align: center;
	font-size: 3vw;
}

div  {
	color: black;
	text-align: left;
	font-size: 2vw;
}

button {
	color: black;
	text-align: center;
	font-family: Papyrus;
	font-size: 2vw;
}