body {
	  background: rgba(255, 102, 0, 0.7);
}

h1 {
	font-family: Papyrus;
	text-align: center;
}

p {
	color: black;
	font-family: Papyrus, sans-serif;
	background-color: lightgrey;
	text-align: center;
	font-size: 50px;
}

dev {
	color: blue;
	text-align: center;
	background-color: lightgrey;
}

button {
	color: black;
	text-align: center;
	font-family: new times;
}